<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>


    <style>
        
        body{
            background-color: rgba(0, 0, 0, 0.917);
            color: white;
            
        }
        .container{
            width: 100%;
            
        }
        h1{
            display: flex;
            justify-content: center;
        }
        .button{
            display: flex;
            justify-content: center;
        }
        button{
            margin-left: 20px;
            font-size: 1.5rem;
            border-radius: 10px;
            color: black;
        }
        button:hover{
            background-color: rgba(0, 0, 0, 0.76);
            color: white;
            border: 1px solid white;
        }
        .FF p{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
        }
        hr{
            color: black;
        }
        .all-post{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
           
        }
        .post{
            border: 1px solid white;
            padding: 1rem;
            margin: 1rem 1rem 0 1rem;
        }
        img{
            height: 200px;
            width: 250px;
        }
        footer{
            height: 50px;
            width: 100%;
            border-top: 1px solid white;
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    
</head>